{% extends 'base.html' %}
{% load static %}
 {% block title %}View Books{% endblock title %}
 {% block content %}
 <div class="container pt-5">
    <h1 class="text-center"><u>Issued Book List</u></h1>
    <table class="table table-hover" style="table-layout: fixed; white-space: normal;" id="example">
        <thead>
            <tr>
                <th>Sr.No</th>
                <th class="text-wrap">Book Name</th>
                {% comment %} <th>Author</th> {% endcomment %}
                <th>Issued Date</th>
                <th>Expiry Date</th>
                <th>Fine</th>
                <th>Return</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books.all %}
            <tr>
                <td>{{forloop.counter}}.</td>
                <td>{{book.book_id}}</td>
                {% comment %} <td>{{book.student_id}}</td> {% endcomment %}
                <td>{{book.issued_date}}</td>
                <td>{{book.expiry_date}}</td>
                <td> &#8358 {{book.fine}}</td>
                
                {% comment %} <td style=" word-break: break-all"> {% for cat in book.category.all %}{{cat}},</div>{% endfor %}</td> {% endcomment %}
                
                <td class=""><a href="{% url 'delete_to_issue' book.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this book?')">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
 {% endblock %}